

#content {
		position: relative;
		color: rgb(255, 102, 0);
		font-size: 30px;
		font-weight: bold;
		text-align: center;	
}

#allbookables {
	font-size: 15px;
	float: left;
	margin-left: 300px;
	margin-bottom: 0px;
	margin-right: 0px;
}


h5, h6 {
	color: white;
}


table {
	color: white;
	width: 900px;
	margin-top: 0px;
	margin-right: 40px;
	margin-bottom: 40px,
}

table, th, td {
	border: 1px solid rgb(53, 105, 117);
	border-collapse: collapse;
}

th, td {
	padding: 15px;
	text-align: left;
}



th { 
	background-color: rgb(53, 105, 117);
	color: white;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	border: 1px solid grey;
}

a {
	color: rgb(255, 102, 0);
}

a {
	color: rgb(255, 102, 0);
	font-weight: bold;
}


a:link {
	background-color: transparent;
  	text-decoration: underline;
}


a:hover {
	color: rgb(255, 102, 0);
	text-decoration: none;
}


a:active {
	color: red;
} 

button {
	width: 300px; 
	height: 50px;
	color: white; 
	padding: 0;
	outline: none;
	background-color: rgba(255, 102, 0, 0.9); 
	font-weight: bold;
	font-size: 25px; 
	border: none; 
	border-radius: 5px;
	box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.9);
}


button:hover {
	color: black;
	outline: none;
	cursor: pointer;
}